$animation-timing: 27s;
$carousel-items: 9;
$animation-delay-fraction: $animation-timing / $carousel-items;
$animation-steps-fraction: 100 / $carousel-items;
$slide-change-timing: 3; // percentage of total animation cycle

.wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	padding-bottom: 1rem;
}

.carousel {
	position: relative;
	width: 100%;
	max-width: 100vw;
	display: flex;
	flex-direction: row;
	gap: 4rem;
	overflow: scroll;
	padding-left: 3em;
	padding-bottom: 3rem;

	//added
	scrollbar-width: none;
	-ms-overflow-style: none;
}

//also added
.carousel::-webkit-scrollbar {
	display: none;
}

.carousel__item {
	padding: 0 12px;
	filter: drop-shadow(0 2px 2px #555);
	transform: scale(0.3);

	&.active {
		transition: transform 0.5s;
		transition-timing-function: ease;
		transform: scale(1);
	}
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) {
	.carousel {
		// height: 100vh;
	}
}
