.favorites-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	width: 100%;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) {
	.favorites-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		place-items: center;
	}
}
