/* .menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 0;
    background-color: aqua;
} */

.menu {
	display: flex;
	justify-content: center;
	position: fixed;
	left: 0px;
	bottom: -50px;

	width: 100vw;
	padding: 20px;
	text-align: center;

	background-color: white;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);

	font-size: 20px;
	color: darkgray;

	border: none;

	/* transition */

	transition: bottom 1s;
	-webkit-transition: bottom 1s;
}

.menu:hover {
	bottom: 0px;
}

.menu.expanded {
}

.handle {
	position: relative;
	bottom: 49px;
	background-color: white;
	width: 25vw;
	left: 4.5rem;
	border: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.loginLink {
	position: relative;
	right: 6.5rem;
}

.filled-green {
	stroke: green;
	fill: green;
	color: green;
}
