/* .menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 0;
    background-color: aqua;
} */

.menu {
	display: flex;
	justify-content: center;
	position: fixed;
	left: 0px;
	bottom: -50px;

	width: 100vw;
	padding: 20px;
	text-align: center;

	background-color: white;
	/* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6); */
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, 
	rgba(0, 0, 0, 0.09) 0px 4px 2px, 
	rgba(0, 0, 0, 0.09) 0px 8px 4px, 
	rgba(0, 0, 0, 0.09) 0px 16px 8px, 
	rgba(0, 0, 0, 0.09) 0px 32px 16px;

	font-size: 20px;
	color: darkgray;

	border: none;

	/* transition */

	transition: bottom 1s;
	-webkit-transition: bottom 1s;

	/* shadow effect */
	/* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, 
	rgba(0, 0, 0, 0.09) 0px 4px 2px, 
	rgba(0, 0, 0, 0.09) 0px 8px 4px, 
	rgba(0, 0, 0, 0.09) 0px 16px 8px, 
	rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}

.menu:hover {
	bottom: 0px;
	
}

.menu.expanded {}

.handle {
	position: relative;
	bottom: 49px;
	background-color: white;
	width: 25vw;
	left: 4.5rem;
	border: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, 
	rgba(0, 0, 0, 0.09) 0px 4px 2px, 
	rgba(0, 0, 0, 0.09) 0px 8px 4px, 
	rgba(0, 0, 0, 0.09) 0px 16px 8px, 
	rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.loginLink {
	position: relative;
	right: 6.5rem;
	
}

.filled-green {
	stroke: green;
	fill: green;
	color: green;
}